canvas{
   
    border: solid 1px;


}


.quadrado {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    border: 1px solid #CECECE;
}

.row {
    display: flex;
    justify-content: center;
    width: 600px;
    
}